.d6 {
        transform-style: preserve-3d;
        transform-origin: center center -50px;
        width: 100px;
        height: 100px;
        perspective: 5000px;
}

.d6-face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: 3px solid #00000083;
    box-shadow: inset 0px 0px 5px 0px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.d6-face:nth-child(1) {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.d6-face:nth-child(2) {
    transform: rotateY(90deg) translateZ(50px) translateX(50px);
    -webkit-transform: rotateY(90deg) translateZ(50px) translateX(50px);
    -moz-transform: rotateY(90deg) translateZ(50px) translateX(50px);
    -ms-transform: rotateY(90deg) translateZ(50px) translateX(50px);
    -o-transform: rotateY(90deg) translateZ(50px) translateX(50px);
}

.d6-face:nth-child(3) {
    transform: rotateX(90deg) rotateY(180deg) translateY(-50px) translateZ(50px);
    -webkit-transform: rotateX(90deg) rotateY(180deg) translateY(-50px) translateZ(50px);
    -moz-transform: rotateX(90deg) rotateY(180deg) translateY(-50px) translateZ(50px);
    -ms-transform: rotateX(90deg) rotateY(180deg) translateY(-50px) translateZ(50px);
    -o-transform: rotateX(90deg) rotateY(180deg) translateY(-50px) translateZ(50px);
}

.d6-face:nth-child(4) {
    transform: rotateX(270deg) rotateY(180deg) translateY(50px) translateZ(50px);
    -webkit-transform: rotateX(270deg) rotateY(180deg) translateY(50px) translateZ(50px);
    -moz-transform: rotateX(270deg) rotateY(180deg) translateY(50px) translateZ(50px);
    -ms-transform: rotateX(270deg) rotateY(180deg) translateY(50px) translateZ(50px);
    -o-transform: rotateX(270deg) rotateY(180deg) translateY(50px) translateZ(50px);
}

.d6-face:nth-child(5) {
    transform: rotateY(270deg) translateZ(50px) translateX(-50px);
    -webkit-transform: rotateY(270deg) translateZ(50px) translateX(-50px);
    -moz-transform: rotateY(270deg) translateZ(50px) translateX(-50px);
    -ms-transform: rotateY(270deg) translateZ(50px) translateX(-50px);
    -o-transform: rotateY(270deg) translateZ(50px) translateX(-50px);
}

.d6-face:nth-child(6) {
    transform: rotateY(180deg) rotateX(180deg) translateZ(-100px) scale(-1, 1);
    -webkit-transform: rotateY(180deg) rotateX(180deg) translateZ(-100px) scale(-1, 1);
    -moz-transform: rotateY(180deg) rotateX(180deg) translateZ(-100px) scale(-1, 1);
    -ms-transform: rotateY(180deg) rotateX(180deg) translateZ(-100px) scale(-1, 1);
    -o-transform: rotateY(180deg) rotateX(180deg) translateZ(-100px) scale(-1, 1);
}
